<div class="container" *ngIf="!mostrarPreguntas">
  <h1 class="title">Ingresa tu nombre de usuario</h1>
  <div class="input-container">
    <input type="text" id="username" class="input" placeholder="Ingresa tu nombre" [(ngModel)]="puntuacion.nombreUsuario">
  </div>
  <div class="button-container">
    <button class="btn access-btn" (click)="guardarNombreUsuario()">Acceder</button>
  </div>
</div>

<div class="container" *ngIf="mostrarPreguntas">
  <h1 class="title">Bienvenido, {{puntuacion.nombreUsuario}}</h1>
  <p>Aquí puedes responder las preguntas.</p>
</div>
