/* Estilo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  color: #ffffff;
}

/* Contenedor principal */
.container {
  text-align: center;
}

/* Títulos */
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 8%;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 2%;
}

/* Contenedor de reglas */
.rules-container {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 5%;
}

/* Lista de reglas */
.rules-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.rules-container li {
  margin-bottom: 10px;
}

/* Botones */
.button-container {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 5%;
}

.btn {
  padding: 15px 30px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Botón Volver */
.back-btn {
  background-color: #3498db; /* Azul elegante */
  color: #ffffff;
}

.back-btn:hover {
  background-color: #2980b9; /* Azul más oscuro */
}
