<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reglas del Trivial</title>
</head>
<body>
<div class="container">
  <h1 class="title">Reglas del Trivial</h1>
  <p class="subtitle">Conoce las reglas antes de jugar</p>
  <div class="rules-container">
    <ul>
      <li>Regla 1: Cada jugador debe responder una pregunta en su turno.</li>
      <li>Regla 2: Las preguntas se dividen en diferentes categorías.</li>
      <li>Regla 3: Gana el jugador que acumule más puntos ( cada acierto son 10 puntos mas ) al final del juego.</li>
      <li>Regla 4: El tiempo para responder cada pregunta es limitado a 45 segundos.</li>
    </ul>
  </div>
  <div class="button-container">
    <button class="btn back-btn" routerLink="/home">Volver</button>
  </div>
</div>
</body>
</html>
