<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reglas del Trivial</title>
</head>
<body>
  <div class="container">
    <h1 class="title">Editar Preguntas</h1>

    <form #preguntaForm="ngForm" (ngSubmit)="onSubmit(preguntaForm)">
      <div class="campo-form">
        <div class="campo">
          <label for="pregunta">Pregunta:</label>
          <input id="pregunta" type="text" [(ngModel)]="nuevaPregunta.enunciado" name="pregunta" style="width: 50%" required>
        </div>

        <div class="campo">
          <label for="categoria">Categoría:</label>
          <select id="categoria" [(ngModel)]="nuevaPregunta.categoriaId" name="categoria" style="width: 25%; background-color: #ffffff" required>
            <option value="" disabled selected>Seleccione una categoría</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
          </select>
        </div>

        <div class="campo">
          <label for="respuesta">Respuesta:</label>
          <input id="respuesta" type="text" [(ngModel)]="nuevaPregunta.respuestaCorrecta" name="respuesta" style="width: 50%" required>
        </div>

      </div>

      <button type="submit" class="btn save-btn">Guardar</button>
    </form>

    <div class="questions-list">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="flex: 1;">
          <label for="filter-id">Filtrar por ID:</label>
          <input id="filter-id" type="number" placeholder="Inserta el id de la pregunta" style="margin-left: 10px;">
        </div>
        <h2 style="flex: 1; text-align: center;">Todas las Preguntas</h2>
        <div style="flex: 1;"></div>
      </div>
      <ul>
        <li *ngFor="let pregunta of preguntas">
          {{ pregunta.pregunta }}
          <div class="botones">
            <button class="btn edit-btn">Editar</button>
            <button class="btn delete-btn" (click)="pregunta.id !== undefined && eliminarPregunta(pregunta.id)">Eliminar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>
