<div class="puntuacion-container">
  <h1>Puntuaciónes</h1>
  <div class="puntu">
    <div *ngFor="let p of puntuaciones" class="puntuacion-item">
      <label>Nombre de usuario:</label>
      <span>{{ p.nombreUsuario }}</span>
      <label>Aciertos:</label>
      <span>{{ p.aciertos }}</span>
      <label>Fallos:</label>
      <span>{{ p.fallos }}</span>
      <label>Puntuación:</label>
      <span>{{ p.puntuacion }}</span>
      <label>Fecha actual:</label>
      <span>{{ p.fecha | date:'dd/MM/yyyy' }}</span>
    </div>
  </div>
  <button class="home-btn" (click)="goHome()">Ir a Home</button>
</div>
