<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantalla de Inicio</title>
</head>
<body>
<div class="container">
  <h1 class="title">Bienvenido al juego del trivial</h1>
  <p class="subtitle">Prueba tu conocimiento y diviertete</p>
  <div class="button-container">
    <button class="btn play-btn">Jugar</button>
    <button class="btn rules-btn" routerLink="/reglas">Reglas</button>
  </div>
</div>
</body>
</html>
